@model List<SoccerLeagues.Models.Match>

<h2>Matches</h2>
<table>
    <thead>
        <tr>
            <th>First Team</th>
            <th>Second Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            <tr>
                <td>@match.FirstTeamId</td>
                <td>@match.SecondTeamId</td>
            </tr>
        }
    </tbody>
</table>
